body { padding: 0; margin: 0; height: 100vh; background: #000 }
:root { --footer-height: 48px; --container-padding: 12px }
#unity-container { position: absolute; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: var(--container-padding); box-sizing: border-box }
#unity-container.unity-desktop { position: fixed; inset: 0 }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: var(--container-padding); box-sizing: border-box }
#unity-canvas { background: #000; height: calc(100vh - var(--footer-height) - (var(--container-padding) * 2)); width: auto; max-width: 100vw; aspect-ratio: 2 / 3 }
.unity-mobile #unity-canvas { width: 100%; height: calc(100vh - var(--footer-height) - (var(--container-padding) * 2)) }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative; display: flex; align-items: center; justify-content: center; gap: 8px; height: var(--footer-height); width: 100%; max-width: 100vw; box-sizing: border-box; margin-top: 8px }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
